@font-face {
    font-family: JuliaMono;
    font-weight: normal;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

@font-face {
    font-family: JuliaMono;
    font-weight: bold;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Bold.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    overflow: hidden;
}

canvas {
    display: block;
    cursor: default;
}
